@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  :root {
    --background: 193 31% 12%;
    --foreground: 0 0% 10%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;

    --primary: 193 31% 12%;
    --primary-foreground: 0 0% 100%;

    --secondary: 189 28% 86%;
    --secondary-foreground: 0 0% 10%;

    --muted: 43 30% 90%;
    --muted-foreground: 0 0% 40%;

    --accent: 189 28% 86%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 100%;
    --input: 43 30% 85%;
    --ring: 189 28% 86%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 3%;
    --foreground: 0 0% 95%;

    --card: 0 0% 7%;
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 95%;

    --primary: 150 80% 35%;
    --primary-foreground: 0 0% 100%;

    --secondary: 160 25% 15%;
    --secondary-foreground: 0 0% 95%;

    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 60%;

    --accent: 150 80% 35%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 95%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 150 80% 35%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}